.a-get-started-wrapper {
    padding: 8% 0 8%;
}

.a-get-started-caption {
    padding-top: 5%;
}

.a-get-started-contact {
    padding-top: 5%;
}

.a-get-started-testimonies {
    background-color: #076847;
    border-radius: 20px;
    min-height: 22rem;
    height: 100%;
    width: 100%;
}

.a-get-started-testimonies img {
    display: flex;
    margin: 0 auto;
    border: none !important;
    border-radius: 50%;
    height: 150px;
    min-height: 150px;
    margin-top: -15%;
    max-width: 150px;
}

.a-get-started-words {
    margin: 0 auto;
    width: 80%;
    padding: 5% 0 5%;
}

.dropli {
    width: 100%;
    box-sizing: content-box;
    padding: 8px 0;
}

.dropli:hover {
    opacity: 0.8;
}

.dropdownContainer {
    position: relative;
    z-index: 3;
}

.sendmail {
    position: relative;
    z-index: 1;
}

.tttt{
    margin-top: 35px;
}

.pll{
    margin-left: 9px;
}

@media screen and (max-width: 600px) {
    .a-get-started-wrapper {
        padding: 20% 0 20%;
    }

    /* .a-get-started-caption {
        color: #343434;
    } */

    .a-get-started-contact {
        padding-top: 5%;
        font-weight: bold;
        /* color: #343434; */
    }

    .a-get-started-contact span {
        color: #076847;
    }

    .a-get-started-testimonies {
        background-color: #076847;
        /* border-radius: 20px; */
        height: 50%;
        margin: 20% 4% 0;
    }

    .a-get-started-testimonies img {
        display: flex;
        margin: 0 auto;
        border: none !important;
        height: 110px;
        margin-top: -15%;
    }

    .a-get-started-words {
        width: 90%;
    }
}