.a-navbar-wrapper {
  padding: 2% 0%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 100000;
  align-items: center;
}

.text-align-end {
  text-align: end;
}

.a-navbar-logo-container img {
  padding-right: 20px;
}

.a-navbar-menubar img,
.a-navbar-dm img {
  padding-right: 10px;
}

.cover{
  padding: 5px 0 5px !important;
}

.a-navbar-others {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.a-navbar-menubar:hover,
.a-navbar-dm:hover {
  color: inherit !important;
}

.card .cover:hover {
  color: #076847 !important;
  opacity: 0.8;
}

.explore {
  color: #076847 !important;
  font-weight: 600;
  transition: all 2s ease;
}

.close{
  height: 15px;
  padding-right: 30px;
}

.text-animate {
  transition: all 0.4s ease-in-out;
}

.card {
  position: fixed;
  display: block;
  min-height: 150px;
  width: 100%;
  z-index: 12;
  top: 88px;
}

.mainWhite:hover{
  color: #076847;
}

@keyframes card {
  0% {
    top: -60px;
  }

  50% {
    top: 30px;
  }

  100% {
    top: 90px;
  }
}

.arrowDown,
.upArrow {
  width: 12px;
  margin-left: 5px;
}

.smallLogo{
  display: none;
}

/* Menubar options */
/* .a-navbar-menu-options{
    height: 400px;
    background-color: #f3f3f3;
    color: #076847;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.5);
    padding: 0;
    width: 100%;
} */

@media screen and (max-width: 768px) {
  .a-navbar-menubar span,
  .a-navbar-dm span {
    display: none;
  }

  a {
    padding: 0 !important;
  }
  .bigLogo{
    display: none;
  }
  .smallLogo{
    display: block;
  }
  .whitebgNav {
    padding: 0 20px;
  }
  .menubar{
    padding: 0 !important;
  }
  .explore{
    font-size: .8rem !important;
  }
  .cover{
    padding: 10px 0 1px !important;
  }
}
