@font-face {
    font-family: 'Chapaza';
    src: url('./components/GlobalStyles/chapaza.woff2'),
         url('./components/GlobalStyles/chapaza.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    /* font-size: 62.5%; */
    box-sizing: border-box;
}

body{
    /* font-family: Chapaza; */
    font-family: sans-serif;
    color: #343434;
    font-weight: 100;
    line-height: 1.4;
}
